body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

div.student-form, div.student-list {
    width: 25%;
    border: 1px;
    margin: 10px;
    padding: 10px;
    float: left;
    position: relative;
    background-color: #dfe3ee;
}

div.student-list {
    width: 65%;
}

div.search_area input {
    position: absolute;
    top: 10px;
    border: none;
    height: 22px;
    font-size: 10pt;
    background: white;
    border-radius: 5px;
}

div.search_area input:focus, button:focus {
    outline: none;
    background-color: white;
}

div.search_area button:hover {
    cursor: pointer;
}

div.search_area i {
    position: absolute;
    top: 12px;
    left: 210px;
    color: lightgray;
}

div.student-list table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

div.student-list h2 {
    text-align: center;
    margin-top: 0;
    color: royalblue;
}

h3 {
    margin-top: 0;
}

div.student-form label {
    width: 150px;
    float: left;
}

div.student-form input[type = "text"], input[type = "date"] {
    width: 200px;
    margin-bottom: 20px;
    padding: 3px;
}

div.search_area input[type = "search"] {
    width: 220px;
    padding: 2px;
}

div.student-form input[type = "radio"] {
    margin-bottom: 20px;
}

div.student-form select {
    padding: 2px;
    width: 210px;
}

div.student-form input[type = "button"], input[type = "reset"] {
    margin-top: 20px;
    border-radius: 10px;
    width: 90px;
    padding: 5px;
    background-color: forestgreen;
    color: white;
}

table button {
    height: 22px;
    width: 40px;
}

table i:hover {
    cursor: pointer;
}

div.student-form input[type = "reset"]:hover, input[type = "radio"]:hover, input[type = "button"]:hover {
    cursor: pointer;
}

header {
    background-color: #3b5998;
    color: white;
    margin-top: -10px;
}


